body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  /* border:1px solid red; */
  height: 900px;
  /* position: relative; */
  /* margin-bottom: 300px; */
}